@use "embla";
@use "ripple";

:root {
  --color-background: #eff3f6
  --color-primary: #ffffff;
  --color-secondary: #e6e6e6;
  --color-secondary-50: #cfcfcf;
  --color-secondary-100: #757575;

  --color-text-primary: #000000;
  --color-text-secondary: #757575;
}

body, html, :root {
  height: 100%;
  background-color: #eff3f6;
}

button:hover {
  cursor: pointer;
}

.form-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-shadow
{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.table-head {
  font-size: small;

}

.table-head-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-body-box {
  font-size: small;
  padding: 10px;
}

.static-noise {
  background: 
    repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;
  background-blend-mode: difference;
  animation: b .2s infinite alternate;
}

@keyframes b{
  100% {background-position: 50% 0, 60% 50%}
}